<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div><i class="fa-regular fa-copyright"></i>&nbsp; 2025 Quna, Inc.</div>

    <div class="f-info-links">
      <a href="/privacy">Privacidad</a>
      <a href="/terms">Términos</a>
    </div>
  </div>
</footer>